#group{
    color: black !important;
    padding-top: 0;
    background-color: #FFD527 !important;
    border: 0;
}

.label{
    color: black !important;
}

.content-subtitle {
    color: black !important;
}