#group{
    background-color: #d6e1b7 !important;
    color: black !important;
    padding-top: 0;
}

#publinks{
    margin-top: -2px;
    width: 249px;
}

.label{
    color: black !important;
}

.content-subtitle {
    color: black !important;
}
